In [9]:
import pandas as pd
import numpy as np

In [12]:
df=pd.read_csv("play_tennis.csv")

In [13]:
df.head(2)

  day outlook temp humidity    wind play
0  D1   Sunny  Hot     High    Weak   No
1  D2   Sunny  Hot     High  Strong   No

In [17]:
df.drop(columns=["day"],inplace=True)

In [18]:
df

     outlook  temp humidity    wind play
0      Sunny   Hot     High    Weak   No
1      Sunny   Hot     High  Strong   No
2   Overcast   Hot     High    Weak  Yes
3       Rain  Mild     High    Weak  Yes
4       Rain  Cool   Normal    Weak  Yes
5       Rain  Cool   Normal  Strong   No
6   Overcast  Cool   Normal  Strong  Yes
7      Sunny  Mild     High    Weak   No
8      Sunny  Cool   Normal    Weak  Yes
9       Rain  Mild   Normal    Weak  Yes
10     Sunny  Mild   Normal  Strong  Yes
11  Overcast  Mild     High  Strong  Yes
12  Overcast   Hot   Normal    Weak  Yes
13      Rain  Mild     High  Strong   No

In [19]:
df["play"].value_counts()

play
Yes    9
No     5
Name: count, dtype: int64

In [46]:
p_yes=9/14
p_no=5/14

In [22]:
pd.crosstab(df["outlook"],df["play"])

play      No  Yes
outlook
Overcast   0    4
Rain       2    3
Sunny      3    2

In [49]:
#Outlook
p_overcast_no=0/5
p_rain_no=2/5
p_sunny=3/5

p_overcast_yes=4/9
p_rain_yes=3/9
p_sunny_yes=2/9

In [50]:
#temp
pd.crosstab(df["temp"],df["play"])

play  No  Yes
temp
Cool   1    3
Hot    2    2
Mild   2    4

In [59]:
p_cool_no=1/5
p_hot_no=2/5
p_mild_no=2/5

p_cool_yes=3/9
p_hot_yes=2/9
p_mild_yes=4/9

In [52]:
#humidity
pd.crosstab(df["humidity"],df["play"])

play      No  Yes
humidity
High       4    3
Normal     1    6

In [53]:
p_high_no=4/5
p_normal_no=1/5

p_high_yes=3/9
p_normal_yes=6/9

In [54]:
#wind
pd.crosstab(df["wind"],df["play"])

play    No  Yes
wind
Strong   3    3
Weak     2    6

In [55]:
p_strong_no=3/5
p_weak_no=2/5

p_strong_yes=3/9
p_weak_yes=6/9

In [56]:
#Now prediction on new query point

# p(a|b)=p(b|a)*p(a) now apply this formula for all new query point ==>sunny =overcast , temp=Hot, humidity=High wind=weak

In [70]:
py=9/14*2/9*2/9*3/9*6/9

In [73]:
pn=5/14*3/5*2/5*4/5*2/5

In [79]:
print("The probablitry among playing tennis yes:",py)
print("The probablitry among playing tennis no:",pn)#

#the result show that among these data sunny =overcast , temp=Hot, humidity=High wind=weak  players will not play the teniiis

The probablitry among playing tennis yes: 0.007054673721340391
The probablitry among playing tennis no: 0.02742857142857143